{% extends "blog/_base.html" %}
{% load staticfiles %}
{% load pipeline %}


{% block scripts %}
	<script src="{% static 'blog/js/jquery.django-csrf.js' %}"></script>
	
	{% javascript 'base' %}
	{% javascript 'components' %}
	
	<script type="text/template" id="comment-reply-template">
		<form method="POST" class="comment-create-form">
			<div class="error-display"></div>
			<div class="form-inputs">
				
				{{ comment_form }}
					
			</div>
			
			{% csrf_token %}
			
			<input type="submit" value="Create">

		</form>			
	</script>
	
	<script type="text/template" id="comment-update-template">
		<form method="POST" class="comment-update-form">
			<div class="error-display"></div>
			
			<div class="form-inputs"></div>
					
			{% csrf_token %}
			
			<input type="submit" value="Update">

		</form>			
	</script>
	
	<script type="text/template" id="comment-create-template">	
		<form method="POST" class="comment-create-form">
			<div class="error-display"></div>
			<div class="form-inputs">
				
				{{ comment_form }}
					
			</div>
			
			{% csrf_token %}
			
			<input type="submit" value="Create">

		</form>
	</script>

	<script type="text/template" id="post-update-template">	
		<form method="POST" class="post-update-form">
			<div class="error-display"></div>
			
			<div class="form-inputs"></div>
			
			{% csrf_token %}
			
			<input type="submit" value="Update">

		</form>
	</script>


	{% verbatim %}
		<script type="text/template" id="comment-detail-template">
			<div class='comment'>
					<p>{{comment.username}}: {{ ^comment.is_hidden }}{{ comment.content }}{{ /comment.is_hidden }}</p>
					<div class="btn-group" role="group" aria-label="...">
						{{ ^comment.is_hidden }}
							<a href="/blog/comments/{{comment.id}}/update" class="comment-update-anchor btn btn-warning">Update</a>

							<div class="btn-group" role="group">
								<form class="comment-delete-form form-horizontal" action="/blog/comments/{{comment.id}}/delete" method="POST">
									<div class="error-display"></div>
	{% endverbatim %}
									{% csrf_token %}
	{% verbatim %}
								<button type="submit" class="btn btn-danger">Remove</button>
							</form>
						</div>

					{{ /comment.is_hidden }}

					<a href="/blog/comments/{{comment.id}}/reply" class="comment-reply-anchor btn btn-success">Reply</a>
				</div>
			</div>
			<div class="comment-form-container"></div>

			<ul class="list-group">
				{{#comments}}

				<li class="list-group-item">
					{{.}}
					
				</li>
				{{/comments}}
			</ul>
		</script>
	{% endverbatim %}
	{% verbatim %}
	<script type="text/template" id="form-error-template">
			<ul class="errorlist">
				{{#errors}}
					<li>
						{{field}}
						<ul class="errorlist">
							{{#errors}}
								<li>
									{{message}}
								</li>
							{{/errors}}
						</ul>
					</li>
				{{/errors}}
			</ul>

	</script>
	{% endverbatim %}
	{% verbatim %}
	<script type="text/template" id="post-template">
		<div id='title'>
			<h2>{{ post.title }}</h2>
		</div>

		<div id='content'>
			{{ #post.is_hidden }}
				<p>This content has been removed.</p>
			{{ /post.is_hidden }}
			{{ ^post.is_hidden }}
				<p>{{post.content}}</p>
			{{ /post.is_hidden }}
			<p>Created By: {{ post.created_by }}</p>
		</div>


		<div class="btn-group" role="group" aria-label="...">
			{{ ^post.is_hidden }}
				<a href="/blog/{{ post.id }}/update" class="post-update-anchor btn btn-warning">
					Update
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</a>
				<div class="btn-group" role="group">
					<form class="post-delete-form form-horizontal" action="/blog/{{ post.id }}/delete" method="POST">
						<div class="error-display"></div>
	{% endverbatim %}

						{% csrf_token %}
	{% verbatim %}					
						<button type="submit" class="btn btn-danger">Remove</button>
					</form>
				</div>
			{{ /post.is_hidden }}

			<a href="/blog/{{ post.id }}/comments" class="comment-create-anchor btn btn-success">
				Comment
			</a>
		</div>
	</script>
	{% endverbatim %}
{%endblock scripts %}