{% extends "blog/_base.html" %}
{% load blog_extras %}
{% load staticfiles %}



{% block title %}
	Detail Post

{% endblock title %}



{% block header %}
	<h1>Detail Blog Post</h1>
	{{ block.super }}

	 <a href="{% url 'blog:update' pk=post.id %}">| Update Post</a>
	 <a href="{% url 'blog:delete' pk=post.id %}">| Delete Post</a>


	
	

{% endblock header %}
	
{% block main %}

	{% post_detail post comments %}

{% endblock main %}
{% block footer %}
	<script src="{% static 'blog/jquery.django-csrf.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/main.js' %}"></script>
	<script type="text/template" id="comment-reply-template">
	    <form method="POST">
	        
	        {{ comment_form }}
	                
	        {% csrf_token %}
	        
	        <input type="submit" value="Create">

	    </form>			
	</script>  
{%endblock footer %}